<h1 mat-dialog-title matBadge="{{_roles.selectedOptions.selected.length}}/{{roles.totalCount}}" matBadgeOverlap="false">Kullanıcıya Rol Atama</h1>
<div mat-dialog-content>
  <p>İlgili kullanıcıya aşağıdan rolleri atayabilirsiniz.</p>
</div>

<mat-selection-list #_roles>
  <mat-list-option *ngFor="let role of listRoles" selected="{{role.selected}}">
    {{role.name}}
  </mat-list-option>
</mat-selection-list>

<div mat-dialog-actions>
  <button mat-button (click)="close()">İptal</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial (click)="assignRoles(_roles)">Rolleri Ata</button>
</div>
